.searchResults {
    max-height: 300px;
    width: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.parent {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.guessesParent {
    width: unset;
}

.guesses {
    min-width: 500px;
    max-width: 500px;
    height: 400px;
}

.progressVal {
    text-align: center;
}

.progress {
    align-items: center;
}

.bar {
    border-style: solid;
    border-width: 2px;
}

.music button {
    width: 80px;
    height: 80px;
}

.music svg {
    transform: scale(3);
}

.MuiLinearProgress-bar {
    transition: transform .151s linear
}

.MuiLinearProgress-dashed {
    display: none
}

.MuiLinearProgress-bar2Buffer {
    border-right: solid;
    border-width: 2px
}